<div class="ui raised segment">
  <h1 class="ui header">
    <div class="content"><%= link_to event.name, event_path(event) %></div>
    <div class="sub header">
      <%= event.start_time.strftime("%d.%m.%Y %H:%M") %> -
      <%= event.end_time.strftime("%d.%m.%Y %H:%M") %> |
      Created by: <%= event.user.username %>
    </div>
  </h1>
  <p><%= event.description %></p>
  <h2 class="ui sub header">
    Location
  </h2>
  <span><%= link_to event.location.name, location_path(event.location) %> (<%= event.location.address %>)</span>

</div>
