<div class="ui grid">
  <div class="ten wide column">
    <%= render 'single_event', event: @event %>

    <h3 class="ui dividing header">Leave a comment</h3>

    <%= form_for [@event, Comment.new], html: {class: "ui form"} do |f| %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Add a comment" %><br/>
      <%= f.submit "Add Comment", class: 'ui basic button' %>
    </div>
    <% end %>

    <div class="ui comments">
      <h3 class="ui dividing header">Comments</h3>
      <%= render(partial: 'comments/comment', collection: @event.comments) %>
    </div>

  </div>
  <div class="six wide column">
    <div class="ui raised segment">
      <div class="ui grid">
        <div class="eight wide column">
          <h2 class="ui sub header">
            Coming
          </h2>
          <ul class="ui list">
            <% @event.participations.yes.each do |p| %>
              <li><%= p.user.username %></li>
            <% end %>
          </ul>
        </div>
        <div class="eight wide column">
          <h2 class="ui sub header">
            Maybe
          </h2>
          <ul class="ui list">
            <% @event.participations.maybe.each do |p| %>
              <li><%= p.user.username %></li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>


<br />

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
