<p id="notice"><%= notice %></p>

<h1>Locations</h1>
<%= link_to 'New Location', new_location_path %>

<table class="ui unstackable table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location %></td>
        <td><%= location.address %></td>
        <td><%= location.phone %></td>
        <td><%= location.website %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

