<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @location.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @location.website %>
</p>

<h3 class="ui dividing header">Leave a comment</h3>

<%= form_for [@location, Comment.new], html: {class: "ui form"} do |f| %>
<div class="field">
  <%= f.text_area :content, placeholder: "Add a comment" %><br/>
  <%= f.submit "Add Comment", class: 'ui basic button' %>
</div>
<% end %>

<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <%= render(partial: 'comments/comment', collection: @location.comments) %>
</div>

<br />

<%= link_to 'Back', locations_path %>
